body{
    font-family: Arial, Helvetica, sans-serif;
}

.gallery{
    display:flex;
    flex-wrap: wrap;
}

.item{
    width: calc(33.33% -20px);
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.bottomInfo{
    display: flex;
    flex-direction: column;
    margin:1px;
}

.top-picture{
    display: flex;
    flex-direction: column;
    margin:1px;

}

.item-picture{
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin:1px;

}

.special{
    font-size: 14px;
    font-weight: 600;
    color: #9E3500;
    margin:1px;
    padding: 0px;
}

.nameShoe{
    font-size: 14px;
    margin:1px;
    padding: 0px;

}

.price{
    font-size: 16px;
    padding: 0px;
    font-weight: 600;
    margin:1px;

}

.category{
    padding: 0px;
    font-size: 14px;
    margin:1px;
}